body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 425px ) {
    .container {
      margin: 15px; /* Adjust the margin value as needed */
    }

}
@media only screen and (min-width:425px){
    .container{
        margin:auto;
        max-width: 45vh;
    }
}
.container {
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    height: max-content;
}
.attribution {
    font-size: 11px;
    text-align: center;
    justify-content: baseline;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.background {
    background-image: url('./images/pattern-background-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 1.5rem) ;
    margin: 0;
    z-index: 0;
   /* Lower z-index to keep it below other elements */
}
.container-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.card-text {
    padding: 0rem 3rem;
}
.card-title h3 {
    font-size: 1.60em;
    margin: 2rem 1rem 0rem;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    letter-spacing: 0.04rem;
}
.card-caption {
    font-size: 1em;
    color: hsl(224, 23%, 55%) 
}
.card-plan {
    margin: 0rem 3rem;
    padding: 1rem 2rem 1rem 1rem;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}
.card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-plan h2, .card-plan h3 {
    font-size: 1em;
}
.card-plan h2 {
    color: hsl(223, 47%, 23%);
}
.card-plan h3 {
    color: hsl(224, 23%, 55%) 
}
.card-plan-title-price {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 1rem;
}
.card-plan-title-price h2, .card-plan-title-price h3 {
    margin: 0.1rem;
}
.change-button {
    font-weight: 700;
}
.change-button a:hover {
    color: #766CF1;
    text-decoration: none;
}
.button-container {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.payment-button, .cancel-order-button {
    display: block;
    margin: 1rem;
    text-decoration: none;
    width: 80%;
}
.payment-button {
    color: white;
    background-color: hsl(245, 75%, 52%);
    font-weight: 700;
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 3px hsl(245, 75%, 52%, 0.2);
}
.payment-button:hover {
    background-color: #766CF1;
}
.cancel-order-button {
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    margin: 0 0 3rem;
}
.cancel-order-button:hover {
    color: hsl(223, 47%, 23%);
}
footer {
    position: absolute;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    bottom: 0;
    width: 100vw;
    z-index: 1;
}
